
- name: 'Register encrypted file system'
  stat:
    path: /cryptfs_file_sparse.img
    get_checksum: False
  register: encryptedFileSystemPostCheck
  when: disk_encryption_key is defined

- name: Check if Disk encryption key file exists
  ansible.builtin.stat:
    path: "{{ disk_encryption_key_path }}"
  register: encryption_keyfile_stat
  when: disk_encryption_key is defined

- name: Read existing Disk encryption key
  ansible.builtin.slurp:
    src: "{{ disk_encryption_key_path }}"
  register: existing_disk_encryption_key
  when:
    - disk_encryption_key is defined
    - encryption_keyfile_stat.stat.exists

- name: Backup existing key file if differs
  shell: |
    cp "{{ disk_encryption_key_path }}" "{{ disk_encryption_key_path }}.{{ lookup('pipe', 'date +%F') }}.txt"
  when:
    - disk_encryption_key is defined
    - encryption_keyfile_stat.stat.exists
    - existing_disk_encryption_key['content'] | b64decode != "DISK_ENCRYPTION_KEY={{ disk_encryption_key }}\n"

- name: Save disk encryption key into a file as an example (in production use a hardware security module)
  when: disk_encryption_key is defined
  ansible.builtin.copy:
    dest: /root/disk-encryption-key.txt
    group: 1000
    owner: 1000
    mode: g+rwx
    content: |
      DISK_ENCRYPTION_KEY={{ disk_encryption_key }}

- name: Fail if key exists and differs
  ansible.builtin.fail:
    msg: "Disk encryption key on disk does not match ansible variable! GitHub secret ENCRYPTION_KEY was updated!"
  when:
    - encryption_keyfile_stat.stat.exists
    - existing_disk_encryption_key['content'] | b64decode != "DISK_ENCRYPTION_KEY={{ disk_encryption_key }}\n"

- name: Copy reboot.service systemd file. Must decrypt disk on reboot
  ansible.builtin.copy:
    dest: /etc/systemd/system/reboot.service
    group: 1000
    owner: 1000
    mode: g+rwx
    content: |
      [Unit]
      Description=Mount encrypted dir

      [Service]
      ExecStart=bash /opt/opencrvs/infrastructure/cryptfs/decrypt.sh -key /root/disk-encryption-key.txt >> /var/log/cryptfs-reboot.log 2>&1

      [Install]
      WantedBy=multi-user.target
  when:
   - disk_encryption_key is defined
   - encryptedFileSystemPostCheck.stat.exists

- name: 'Setup systemd to mount encrypted folder'
  when: disk_encryption_key is defined
  shell: systemctl daemon-reload && systemctl enable reboot.service
  when:
    - disk_encryption_key is defined
    - encryptedFileSystemPostCheck.stat.exists
