services:
  traefik:
    networks:
      - overlay_net
    command:
      # Use HTTP-01 challenge as the web server is publicly available
      # https://doc.traefik.io/traefik/https/acme/#httpchallenge
      # For DNS-01 challenge and manual certificates, check staging and production configurations
      - --certificatesresolvers.certResolver.acme.email=riku@opencrvs.org
      - --certificatesresolvers.certResolver.acme.storage=acme.json
      - --certificatesresolvers.certResolver.acme.caserver=https://acme-v02.api.letsencrypt.org/directory
      - --certificatesresolvers.certResolver.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.certResolver.acme.httpchallenge=true

      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --providers.docker
      - --providers.docker.swarmMode=true
      - --api.dashboard=true
      - --api.insecure=true
      - --log.level=WARNING
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --serverstransport.insecureskipverify=true
      - --entrypoints.websecure.address=:443
      - --accesslog=true
      - --accesslog.format=json
      - --ping=true

  notification:
    environment:
      - LANGUAGES=en,fr
      - SENTRY_DSN=${SENTRY_DSN:-}
      - QA_ENV=true
      - NODE_ENV=production

  countryconfig:
    image: ${DOCKERHUB_ACCOUNT}/${DOCKERHUB_REPO}:${COUNTRY_CONFIG_VERSION}
    restart: unless-stopped
    secrets:
      - jwt-public-key.{{ts}}
    environment:
      - NODE_ENV=production
      - QA_ENV=true
      - CHECK_INVALID_TOKEN=true
      - MONGO_URL=mongodb://mongo1/user-mgnt?replicaSet=rs0
      - SENTRY_DSN=${SENTRY_DSN:-}
      - SENDER_EMAIL_ADDRESS=${SENDER_EMAIL_ADDRESS}
      - ALERT_EMAIL=${ALERT_EMAIL}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - SMTP_SECURE=${SMTP_SECURE}
      - ESIGNET_REDIRECT_URL=https://esignet-mosipid.collab.mosip.net/authorize
      - OPENID_PROVIDER_CLIENT_ID=${OPENID_PROVIDER_CLIENT_ID}
    deploy:
      replicas: 1
    networks:
      - overlay_net

  client:
    environment:
      - DECLARED_DECLARATION_SEARCH_QUERY_COUNT=100

  gateway:
    environment:
      - LANGUAGES=en,fr
      - SENTRY_DSN=${SENTRY_DSN:-}
      - QA_ENV=true
      - NODE_ENV=production
      - DISABLE_RATE_LIMIT=true

  workflow:
    environment:
      - LANGUAGES=en,fr
      - SENTRY_DSN=${SENTRY_DSN:-}
      - QA_ENV=true
      - NODE_ENV=production

  search:
    environment:
      - SENTRY_DSN=${SENTRY_DSN:-}
      - QA_ENV=true
      - NODE_ENV=production

  metrics:
    environment:
      - SENTRY_DSN=${SENTRY_DSN:-}
      - QA_ENV=true
      - NODE_ENV=production

  auth:
    environment:
      - SENTRY_DSN=${SENTRY_DSN:-}
      - QA_ENV=true
      - NODE_ENV=production

  user-mgnt:
    environment:
      - SENTRY_DSN=${SENTRY_DSN:-}
      - QA_ENV=true
      - NODE_ENV=production

  webhooks:
    environment:
      - SENTRY_DSN=${SENTRY_DSN:-}
      - QA_ENV=true
      - NODE_ENV=production

  config:
    environment:
      - SENTRY_DSN=${SENTRY_DSN:-}
      - QA_ENV=true
      - NODE_ENV=production

  documents:
    environment:
      - QA_ENV=true
      - NODE_ENV=production

  scheduler:
    environment:
      - QA_ENV=true
      - NODE_ENV=production

  dci-crvs-api:
    image: opencrvs/dci-crvs-api:3ee8d21
    restart: unless-stopped
    deploy:
      replicas: 1
      labels:
        - 'traefik.enable=true'
        - 'traefik.http.routers.dci-crvs-api.rule=Host(`dci-crvs-api.{{hostname}}`)'
        - 'traefik.http.services.dci-crvs-api.loadbalancer.server.port=1660'
        - 'traefik.http.routers.dci-crvs-api.tls=true'
        - 'traefik.http.routers.dci-crvs-api.tls.certresolver=certResolver'
        - 'traefik.http.routers.dci-crvs-api.entrypoints=web,websecure'
        - 'traefik.docker.network=opencrvs_overlay_net'
        - 'traefik.http.middlewares.dci-crvs-api.headers.customresponseheaders.Pragma=no-cache'
        - 'traefik.http.middlewares.dci-crvs-api.headers.customresponseheaders.Cache-control=no-store'
        - 'traefik.http.middlewares.dci-crvs-api.headers.customresponseheaders.X-Robots-Tag=none'
        - 'traefik.http.middlewares.dci-crvs-api.headers.stsseconds=31536000'
        - 'traefik.http.middlewares.dci-crvs-api.headers.stsincludesubdomains=true'
        - 'traefik.http.middlewares.dci-crvs-api.headers.stspreload=true'
    environment:
      - NODE_ENV=production
      - OPENCRVS_AUTH_URL=http://auth:4040/
      - OPENCRVS_GATEWAY_URL=http://gateway:7070
    networks:
      - overlay_net

  mosip-api:
    volumes:
      - /data/sqlite:/data/sqlite
      - /certs:/certs:ro
    image: ghcr.io/opencrvs/mosip-api:1.9.2-demo.2
    environment:
      - OIDP_CLIENT_PRIVATE_KEY_PATH=/certs/esignet-jwk.txt
      - DECRYPT_P12_FILE_PATH=/certs/keystore.p12
      - DECRYPT_P12_FILE_PASSWORD=mosip123
      - SIGN_P12_FILE_PATH=/certs/keystore.p12
      - SIGN_P12_FILE_PASSWORD=mosip123
      - ESIGNET_USERINFO_URL=https://esignet-mosipid.collab.mosip.net/v1/esignet/oidc/userinfo
      - ESIGNET_TOKEN_URL=https://esignet-mosipid.collab.mosip.net/v1/esignet/oauth/v2/token
      - IDA_AUTH_DOMAIN_URI=https://api-internal.collab.mosip.net
      - IDA_AUTH_URL=https://api.collab.mosip.net/idauthentication/v1/auth
      - PARTNER_APIKEY=123456 # not used in MOSIP Connect 2026 (ID Auth)
      - PARTNER_ID=aaaaaAAAAAbbbbbBBBBBcccccCCCCCdddddDDDDD # not used in MOSIP Connect 2026 (ID Auth)
      - PARTNER_MISP_LK=opencrvs-auth-partner
      - MOSIP_AUTH_URL=https://api-internal.collab.mosip.net/v1/authmanager/authenticate/clientidsecretkey
      - MOSIP_AUTH_CLIENT_APP_ID=ida
      - MOSIP_PACKET_AUTH_CLIENT_ID=mosip-crvs1-client
      - MOSIP_PACKET_AUTH_CLIENT_SECRET=${MOSIP_PACKET_AUTH_CLIENT_SECRET}
      - MOSIP_WEBSUB_AUTH_CLIENT_ID=crvs_partner
      - MOSIP_WEBSUB_AUTH_CLIENT_SECRET=${MOSIP_WEBSUB_AUTH_CLIENT_SECRET}
      - MOSIP_WEBSUB_CALLBACK_URL=https://mosip-api.vc-demo.opencrvs.dev/websub/callback
      - MOSIP_WEBSUB_HUB_URL=https://api-internal.collab.mosip.net/hub
      - MOSIP_WEBSUB_SECRET=${MOSIP_WEBSUB_SECRET}
      - MOSIP_WEBSUB_TOPIC=crvs_partner/CREDENTIAL_ISSUED
      - MOSIP_CREATE_PACKET_URL=https://api-internal.collab.mosip.net/commons/v1/packetmanager/createPacket
      - MOSIP_PROCESS_PACKET_URL=https://api-internal.collab.mosip.net/registrationprocessor/v1/workflowmanager/workflowinstance
      - MOSIP_VERIFIABLE_CREDENTIAL_ALLOWLIST=https://api.collab.mosip.net/.well-known/public-key.json
      - MOSIP_CENTER_ID=10001
      - MOSIP_MACHINE_ID=20042

  esignet-mock:
    deploy:
      replicas: 0

  mosip-mock:
    deploy:
      replicas: 0
