name: Migration docker swarm to k8s

on:
  workflow_dispatch:
    inputs:
      target_repo:
        type: string
        description: 'The target infrastructure repository to use for migration'
        required: true
        default: 'adskyiproger/infrastructure'

jobs:
  repository-secrets-migration:
    name: Repository Secrets Migration
    runs-on: ubuntu-latest
    steps:
      - name: Export repository secrets
        id: export-repo-secrets
        run: |
            EXPORT_JSON=$(jq -n '
                [${{ toJSON(secrets) }}] 
                | add
                | with_entries(.value |= @base64)
            ')
            
            echo "export_data<<EOF" >> $GITHUB_OUTPUT
            echo "$EXPORT_JSON" >> $GITHUB_OUTPUT
            echo "EOF" >> $GITHUB_OUTPUT
      - name: Trigger import in ${{ inputs.target_repo }}
        env:
            GH_TOKEN: ${{ secrets.MIGRATION_GH_TOKEN }}
        run: |
          echo "${{ steps.export-repo-secrets.outputs.export_data }}"
          gh api repos/${{ inputs.target_repo }}/dispatches \
            -X POST \
            -f event_type=import-config \
            -f environment="${{ inputs.environment }}" \
            -f data_type="${{ inputs.data_type }}" \
            -f data='${{ steps.export-repo-secrets.outputs.export_data }}'