name: Migration docker swarm to k8s

on:
  workflow_dispatch:
    inputs:
      target_repo:
        type: string
        description: 'The target infrastructure repository to use for migration'
        required: true
        default: 'adskyiproger/opencrvs-infrastructure'

jobs:
  repository-secrets-migration:
    name: Repository Secrets Migration
    runs-on: ubuntu-latest
    steps:
      - name: Export repository secrets
        id: export-repo-secrets
        run: |
            EXPORT_JSON=$(jq -n '
                [${{ toJSON(vars) }}] 
                | add
                | with_entries(.value |= @base64)
            ' | base64)
            
            echo "data=$EXPORT_JSON" >> $GITHUB_OUTPUT

      - name: Trigger import in ${{ inputs.target_repo }}
        env:
            GH_TOKEN: ${{ secrets.MIGRATION_GH_TOKEN }}
        run: |
          echo "${{ steps.export-repo-secrets.outputs.export_data }}"
          gh api repos/${{ inputs.target_repo }}/dispatches \
            --method POST \
            -f event_type=import-config \
            -F client_payload[data_type]="variables" \
            -F client_payload[data]='${{ steps.export-repo-secrets.outputs.data }}'
